<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layout}">

<div layout:fragment="content" class="container my-3">

        <!-- 질문 제목, 내용 -->
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <!-- 작성자 표시 -->
                            <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                        </div>
                        <!-- 작성 일시 -->
                        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 답변 개수 출력 -->
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|">
        </h5>

        <!-- 답변 반복 출력 -->
        <div class="card my-3" th:each="answer : ${question.answerList}">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <!-- 작성자 표시 -->
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>

        <!--
            답변 작성
            - "답변 등록" 버튼을 눌렀을 때 전송 되는 form은 th:action 속성 사용
            - 버튼 클릭 시 /answer/create/1 의 URL이 post 방식으로 호출됨
        -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerDTO}" method="post" class="my-3">
            <!-- error 발생 시 메세지 출력 -->
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="error : ${#fields.allErrors()}" th:text="${error}"/>
            </div>

            <!-- 로그인 하지 않은 사용자가 댓글 작성 못하게 비 활성화 -->
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
            <!-- 로그인 한 사용자는 댓글 작성 가능 -->
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
            <input type="submit" value="답변 등록" class="btn btn-primary my-2">
        </form>
    </div>

</html>