<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">

    <div layout:fragment="content" class="container my-3">

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                </tr>
            </thead>

            <!--
                th: = 자바 코드와 연결되는 속성
                th:each = questionList에 저장 된 데이터를 꺼낸 후 question에 저장,
                          개수만큼 반복해서 <tr></tr> 내용 출력
            -->
            <tbody>
                <tr th:each="question, loop : ${paging}">
                    <!-- 게시물 번호 적용=전체 게시물 개수-(현재 페이지*페이지당 게시물 개수)-나열 인덱스 -->
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <!--
                        - 제목 클릭 시 상세페이지로 이동
                        - thymeleaf에서 문자열+자바 객체 값 사용 시 반드시 | 기호로 감싸야 함
                        - 나열 인덱스는 0부터 시작
                    -->
                    <td>
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <!-- 게시글 옆 답변 개수 표시 -->
                        <span class="text-danger small ms-2"
                              th:if="${#lists.size(question.answerList) > 0}"
                              th:text="${#lists.size(question.answerList)}">
                              <!-- 답변이 있는 지 검색 후 개수 표시 -->
                        </span>
                    </td>

                    <!-- 날짜 객체를 낙짜에 맞게 format하는 thymeleaf 기능 -->
                    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>

        <!-- 페이징 처리 -->
        <div th:if="${!paging.isEmpty()}">
            <!-- 이전 페이지가 없을 때 비 활성화 -->
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <!-- 현재 페이지 기준, 전후로 5페이지씩 출력 -->
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <!-- 다음 페이지가 없을 때 비 활성화 -->
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--
            th:classappend="조건식 ? 클래스_값"
            - 조건 식이 참일 경우 '클래스_값'을 class 속성에 추가

            #numbers.sequence(시작 번호, 끝 번호)
            - 시작 번호 부터 전체 페이지 수 만큼 반복해서 생성
        -->

        <!-- 질문 글쓰기 버튼 생성 -->
        <a th:href="@{/question/create}" class="btn btn-primary">글쓰기</a>

    </div>

</html>